@import url("https://fonts.googleapis.com/css2?family=Exo:wght@600;700&family=Quicksand:wght@300;400;500&display=swap&family=Architects+Daughter&display=swap'");

// Variables
$background-color: #111213;
$background-color-light: #1f2124;
$white-color: #f8fafc;
$black-color: #020202;

$gray-100-color: #e6e6e6;
$gray-200-color: #cccccc;
$gray-300-color: #b3b3b3;
$gray-400-color: #a6a6a6;
$gray-600-color: #8c8c8c;
$gray-700-color: #737373;

// Primary color - purple
$primary-100: #eae2f8;
$primary-200: #cfbcf2;
$primary-300: #a081d9;
$primary-400: #8662c7;
$primary-500: #7c3aed;
$primary-600: #6d28d9;
$primary-700: #5b21b6;
$primary-800: #4c1d95;
$primary-900: #3e1a77;

// Secondary color - orange
$secondary-100: #fff7ed;
$secondary-200: #ffedd5;
$secondary-300: #fed7aa;
$secondary-400: #fdba74;
$secondary-500: #f59e0b;
$secondary-600: #d97706;
$secondary-700: #b45309;
$secondary-800: #92400e;
$secondary-900: #78350f;

.light--theme {
  background-color: $gray-100-color;
  color: $background-color;
  transition: background-color 1s ease;

  .navbar {
    .brand {
      color: $background-color;
    }
    .nav-links {
      a {
        color: $black-color;
        &:hover {
          color: $background-color !important;
        }
        &::before {
          background-color: $background-color !important;
        }
      }
    }
    .social-links {
      i {
        color: $black-color;
        &:hover {
          color: $background-color !important;
        }
      }
      select {
        color: $black-color;
        background-color: $gray-100-color;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  p {
    color: $black-color;
  }

  .divider {
    background-color: $black-color;
  }

  .contact-section {
    .contact-form {
      color: $gray-100-color;
      background-color: $background-color-light;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      input,
      textarea {
        background-color: $gray-100-color;
        color: $black-color;
        border: 1px solid $black-color;
        &:focus {
          outline: none;
          border: 1px solid $black-color;
        }
      }
    }

    .contact-links {
      a {
        color: $black-color !important;
        &:hover {
          color: $primary-900 !important;
        }
      }
    }
  }

  .toggle--theme {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 50%;

    background-color: $gray-100-color;
    color: $background-color;
  }

  .btn-outline-secundary {
    color: $secondary-500;
    border: 2px solid $secondary-500;
    &:hover {
      background-color: $secondary-500;
      color: $white-color;
    }
  }
}

.dark--theme {
  background-color: $background-color;
  color: $gray-100-color;
  transition: background-color 1s ease;
}

body {
  font-family: "Exo", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    font-size: 2rem;
    font-weight: 600;
    color: #d9e3ea;
  }
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.1rem;

    a {
      color: $gray-200-color;
      text-decoration: none;
      transition: color 0.3s ease;
      position: relative;

      &:hover {
        color: $white-color;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: $gray-100-color;
        transition: width 0.3s ease-out, left 0.3s ease-out;
      }

      &:hover:before {
        width: 100%;
        left: 0;
      }
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 2rem;
    i {
      color: #d9e3ea;
      transition: color 0.3s ease;
      &:hover {
        color: $white-color;
      }
    }

    select {
      font-size: 1rem;
      color: $white-color;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 0.5rem 0.5rem 0 0;
      padding: 0 0.8rem;

      &:hover {
        background-color: transparent;
      }

      :focus {
        outline: none;
      }

      & > * {
        cursor: pointer;
      }

      :focus-within {
        outline: none;
      }

      option {
        background-color: $background-color-light;
      }
    }
  }
}

.hero {
  max-width: 85%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
  }

  .button-group {
    display: flex;
    gap: 1rem;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

.techs-section {
  text-align: center;
  .techs-text {
    max-width: 60%;
    margin: 2rem auto;
  }

  .techs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;

    .tech {
      width: 30%;

      p {
        margin-top: 0 !important;
      }

      .circle-element {
        background-color: $primary-500;
        max-width: 4.2rem;
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: $white-color;
          font-size: 2.5rem;
        }
      }
    }
  }
}

.projects-section {
  margin-top: 4rem;
  .projects-header {
    text-align: center;
    max-width: 60%;
    margin: 2rem auto;
  }

  .projects-container {
    .project {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 6rem 0;
      gap: 3rem;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      .project-text {
        padding: 2rem 0;
        ul {
          padding: 0;
          margin: 1.5rem 0;

          .project-list {
            &::before {
              content: url(./images/check.svg);
              width: 0.8rem;
              padding-right: 0.6rem;
            }
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0.5rem 0;
          }
        }
      }

      .project-image {
        border-radius: 1.5rem;
        width: 100%;
        box-shadow: 19px 21px 44px -37px rgba(76, 29, 149, 1);

        &:nth-child(even) {
          box-shadow: -19px 21px 44px -37px rgba(76, 29, 149, 1);
        }
      }
    }
  }
}

.about-section {
  .about-text {
    text-align: center;
    max-width: 60%;
    margin: 2rem auto;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4rem auto;
    gap: 4rem;

    .about-text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      text-align: start;
      margin: 0;
      max-width: 50%;
    }

    .about-image {
      position: relative;
      padding: 30px;

      --border: 3px;
      --from: 30deg;
      --distance: 46%;

      &:hover {
        &::after {
          animation: rotate 1s ease-in-out;
        }
      }

      &::after {
        content: "";
        border-radius: 999px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: conic-gradient(
          from var(--from),
          $primary-700,
          $secondary-500 var(--distance),
          transparent var(--distance)
        );
        -webkit-mask: radial-gradient(
          farthest-side,
          transparent calc(100% - var(--border)),
          #fff calc(100% - var(--border) + 1px)
        );
        mask: radial-gradient(
          farthest-side,
          transparent calc(100% - var(--border)),
          #fff calc(100% - var(--border) + 1px)
        );
      }

      img {
        border-radius: 999px;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.contact-section {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    padding: 2rem 3.5rem;
    border: 2px solid $gray-100-color;
    border-radius: 0.8rem;
    box-shadow: -16px 21px 71px -42px $secondary-500;

    .group-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 1.5rem;
      margin-bottom: 1rem;
      width: 100%;
      position: relative;

      & input,
      textarea {
        width: 100%;
        padding: 0.8rem 1.6rem;
        border-radius: 0.5rem;
        border: 1px solid $gray-100-color;
        margin: 0.5rem 0;
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        background-color: $gray-100-color;
        color: $gray-600-color;
        transition: background-color 0.3s ease;
        resize: none;
        text-indent: 1rem;

        &:focus {
          background-color: $white-color;
          outline: 2px solid $secondary-600;
        }
        &::placeholder {
          transform: skewX(-10deg);
        }
      }
      .icon {
        position: absolute;
        left: -2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & * {
          color: $white-color;
          background-color: $primary-800;
          width: 0.9rem;
          height: 0.9rem;
          font-size: 0.9rem;
          padding: 0.7rem;
          border-radius: 50%;

          &:nth-child(even) {
            margin-top: 0.8rem;
          }

          &:last-child {
            margin-top: 1rem;
          }
        }
      }
    }

    .btn {
      margin: 0.5rem 0;
    }
  }

  .contact-content {
    align-self: flex-start;
    margin-top: 1rem;

    p {
      max-width: 80%;
    }

    .contact-links {
      margin: 0.4rem;
      padding: 0;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;

        text-decoration: none;
        color: $white-color;
        transition: color 0.3s ease;
        &:hover {
          color: $primary-500;
        }
      }
      i {
        font-size: 2rem;
        height: 100%;
        margin-right: 1rem;
      }
    }
  }
}

// Ultilities
.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;

  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  background-color: $primary-700;
  color: $white-color;
  border: none;

  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $primary-500;
  }
}

.btn-outline {
  background-color: transparent;
  border: 1px solid $primary-700;
  color: $primary-500;
  &:hover {
    background-color: $primary-700;
    color: $white-color;
  }
}

.btn-outline-secundary {
  background-color: transparent;
  border: 1px solid $secondary-700;
  color: $secondary-500;
  &:hover {
    background-color: $secondary-500;
    color: $white-color;
  }
}

.divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: $gray-100-color;
}

.badge {
  padding: 0.2rem 0.8rem;
  display: inline-block;
  border-radius: 5rem;
  font-weight: 600;
  background-color: $primary-300;
  color: $primary-700;
  font-size: 1rem;
  margin: 0.8rem 0;
}

.badge-secundary {
  background-color: $secondary-300;
  color: $secondary-700;
}

.toggle--theme {
  background-color: $background-color;
  color: $gray-100-color;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 100;
  transition: background-color 1s ease;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 3rem 0;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.7rem;
  font-weight: 600;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: $gray-400-color;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

hgroup {
  text-align: center;
  max-width: 60%;
  margin: 2rem auto;
}

span {
  color: $primary-500;
}

small {
  margin: 1.4rem auto;
  font-size: 1.3rem;
  color: $primary-500;
  font-family: "Architects Daughter", cursive;
}

footer {
  margin-top: 4rem;
  padding: 1rem 0;
  text-align: center;
  background-color: $primary-700;
  color: $white-color;
  font-size: 1rem;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  .container {
    max-width: 90%;
  }

  .navbar {
    .nav-links {
      display: none;
    }
  }

  .hero {
    max-width: 100%;
    margin: 2rem auto;
    .hero-image {
      max-width: 90%;
      margin: 2rem auto;
    }
  }

  .techs-section {
    .techs-container {
      .tech {
        margin: 1rem auto;

        width: 80%;
      }
    }
  }

  .projects-section {
    .projects-container {
      .project {
        margin: 3rem 0;
        flex-direction: column;
        gap: 1rem;
        &:nth-child(even) {
          flex-direction: column;
        }
      }
    }
  }

  .about-section {
    .about-container {
      .about-text {
        max-width: none;
        gap: 0.5rem;
        p {
          margin: 0.5rem 0;
        }
      }
    }
  }

  .contact-section {
    grid-template-columns: 1fr;

    .contact-form {
      margin: 0;
      padding: 4rem;
    }
    .contact-content {
      margin-top: 2rem;
    }
  }
}
